@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Anybody:ital,wght@0,100..900;1,100..900&family=Montserrat:wght@100..900&display=swap");

body {
  margin: 0;
  font-family: "ABeeZee", sans-serif  !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
